@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=L0x-DF02iFML4hGCyPqnfyUNwzP5De7VYjJNYs_X&skey=1cdbdfe57ba870bf&v=v18) format('woff2');
  unicode-range: U+41, U+48-49, U+4f, U+52, U+54, U+56, U+61, U+6f, U+72, U+74, U+76, U+78;
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=L0x-DF02iFML4hGCyPqnfyUNwzP5De7VYjJNYs_X&skey=1cdbdfe57ba870bf&v=v18) format('woff2');
  unicode-range: U+41, U+48-49, U+4f, U+52, U+54, U+56, U+61, U+6f, U+72, U+74, U+76, U+78;
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=L0x-DF02iFML4hGCyPqnfyUNwzP5De7VYjJNYs_X&skey=1cdbdfe57ba870bf&v=v18) format('woff2');
  unicode-range: U+41, U+48-49, U+4f, U+52, U+54, U+56, U+61, U+6f, U+72, U+74, U+76, U+78;
}
